alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias anew='source ~/.aliases'

# Git
alias g='git'
alias gb='git branch'
alias gl='git log'
alias gs='git status'
alias gco='git checkout master'
alias grc='git rebase --continue'
alias gap='git add --patch'

alias vim='/usr/local/bin/mvim -v'

alias gbclean='git checkout master && git branch --merged | grep -v "master" | xargs git branch -d'
alias grim='git rebase -i master'

alias k='kubectl'

alias julia='/Applications/Julia-1.0.app/Contents/Resources/julia/bin/julia'
